.blocks {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.blocki {
  box-shadow: 0 0 5px rgb(230 230 230);
  width: 200px;
  padding: 30px;
}

.icons{
  height: 100px;
  width: 100px;
}
